
<section class="slider">
    <ul class="slider-wrap">
      {% for block in section.blocks %}
        {% case block.type %} <!-- 呼び出したいもの case 〇〇に入れる -->
          {% when 'slide' %}
            <li class="slide slider-item">
              <div class="copy_area">
                {{ block.settings.image | image_url: width: 1450 | image_tag }}
              </div>
            </li>
        {% endcase %}
      {% endfor %}
    </ul>
</section>

<style>

</style>


{% schema %}
  {
    "name": "スライドショー",
    "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "スライドショー"
    }
    ],
    "max_blocks": 5,
    "blocks": [
      {
      "name": "画像",
       "type": "slide",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         }
       ]
      }
    ]
  }
{% endschema %}