<div
  class="special"
  data-aos="fade-up"
  data-aos-duration="2000"
>
  <div class="special__contents flex" id="item01">
    <img src=" {{ 'about-1.jpg' | asset_img_url: '3000x' }} " alt="" class="Imgside">
    <div class="txt-side">
      <div class="txt-side__txt">
        <p class="min">ONLINE SHOP</p>
        <h2>オンライン販売商品について</h2>
        <p class="detail">
          公式取扱ブランド商品を即日出荷・サイズ交換無料・返品無料でお買い求めいただけます（一部、対象外商品もございます）。靴はもちろん、バッグやアパレル商品、スポーツ用品まで幅広く取り揃えております。ぜひ、日本最高のサービス水準の通販サイトで最高のオンライン・ショッピングをお楽しみください。
        </p>
      </div>
    </div>
  </div>
  <div class="special__contents flex" id="item02">
    <img src="{{ 'about-2.jpg' | asset_img_url: '3000x' }}" alt="" class="Imgside">
    <div class="txt-side">
      <div class="txt-side__txt">
        <p class="min">OUR CONCEPT</p>
        <h2>このショップについて</h2>
        <p class="detail">
          「ファッション」を通じて人々に感動を創業当時からどこにも真似できない唯一無二の味を追求してきました。試行錯誤を重ね、その”型破り”が今のショップの”スタイル”となりました。そんな伝統と革新のスタイルを是非ご賞味ください。
        </p>
      </div>
    </div>
  </div>
</div>
