
    <div class="special__btn">
        <ul class="tab flex">
          <li><a href="#item01">オンライン販売商品について</a></li>
          <li><a href="#item02">私たちについて</a></li>
        </ul>
  
      </div>
    </div>
  
    <div class="category">
      <ul class="category__items">
        <li class="category__item">
          <a href="#" class="flex item__link">
            <img src="{{ 'special-1.jpg' | asset_img_url: '3000x' }}" alt="">
            <div class="item__txt"><span>オンライン限定</span></div>
          </a>
        </li>
        <li class="category__item">
          <a href="#" class="flex item__link">
            <img src="{{ 'special-2.jpg' | asset_img_url: '3000x' }}" alt="">
            <div class="item__txt"><span>サイドメニュー</span></div>
          </a>
        </li>
        <li class="category__item">
      </ul>
    </div>
  