
<section class="2022_new_collection sec"
  data-aos="zoom-out"
  data-aos-duration="3000">

  <h2>新着商品</h2>

  <div class="collection-wrap flex">
    {% paginate collection.products by 8 %}
      {% for product in collection.products %}
        <!-- within | collection を追加することで、コレクション内の製品のプロダクトを出力してくれる -->
      <a href=" product.url | within: collection  " class="product_card">
        <img src=" {{ product.featured_image.src | img_url: 'large' }} " alt="">
        <h3> {{ product.title }} </h3>
        <p class="price"> {{ product.price | money }} </p>
        <p class="Btn bgleft"><span>詳細を見る</span></p>
      </a>
      {% else %}
      <p>お探しの商品が見つかりませんでした。</p>
      {% endfor %}
  </div>

  <!-- 次のページの案内 -->
  {% if paginate.pages > 1 %}
    <nav aria-label="Page navigation example" class="paginte_nav"  >
      {{ paginate | default_pagination: next: '»', previous: '«' }}
    </nav>
  {% endif %}
  {% endpaginate %}

  <div class="product_card"></div>

</section>

{% section 'custom-collection-list' %} <!-- セクション一覧の読み込み -->


<style>
  .paginte_nav{
  display: flex;
  justify-content: center;
  }

  .paginte_nav span{
    padding: 10px;
    margin: 7px;
    font-size: 25px;
    border: #E0E0E0 2px solid;
  }
</style>

